.aboutMaster {
	padding: 3rem 0;
	width: calc(100vw - 17px);
	height: fit-content;
	background-color: var(--background-color);
	color: var(--text-color);
	background-image: url('../../public/images//backgrounds/bio-background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	/* background: rgb(2, 15, 18);
	background: linear-gradient(
		0deg,
		rgba(2, 15, 18, 1) 0%,
		rgba(3, 24, 28, 1) 70%,
		rgba(4, 24, 28, 1) 100%
	); */
	/* background-color: #04181c; */
	/* grid */
	display: grid;
	grid-template-columns: 10% 37.5% 5% 37.5% 10%;
	grid-template-rows: 1fr;
	justify-items: center;
	align-items: flex-start;
}

.aboutSkillsContainer {
	/* background-color: var(--bio-body-bg); */
	grid-area: 1 / 2 / 1 / 2;
	/* flex */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.skillsHeading,
.bioHeading {
	/* background-color: var(--bio-body-bg); */
	padding: 0rem 5rem;
	font-size: 4rem;
	font-weight: 200;
}

.aboutSkills {
	/* grid */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	column-gap: 6rem;
	row-gap: 2rem;
}

.aboutSkillIndiv {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
.aboutSkillImage {
	width: 120px;
	height: 120px;
}

.bioContainer {
	/* background-color: var(--bio-body-bg); */
	grid-area: 1 / 4 / 1 / 4;
	/* flex */
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 2rem;
}

.bioImage {
	width: 413px;
	height: 352px;
}

.bioBody {
	background-color: var(--bio-body-bg);
	border-radius: 4px;
	/* box-shadow: 0 0 35px var(--bio-body-bg); */
	padding: 1rem;
	text-align: left;
	font-size: 1.4rem;
	/* flex */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 2rem;
}

/* breakpoint: XL */
@media screen and (max-width: 1536px) {
	.aboutMaster {
		grid-template-columns: 5% 42.5% 5% 42.5% 5%;
	}
	.aboutSkills {
		column-gap: 4rem;
	}
	.aboutSkillImage {
		width: 110px;
		height: 110px;
	}
	.bioBody {
		width: 95%;
	}
}

/* breakpoint: L */
@media screen and (max-width: 1200px) {
	.aboutSkillImage {
		width: 100px;
		height: 100px;
	}
	.bioImage {
		width: 80%;
		height: auto;
	}
	.bioBody {
		width: 95%;
		font-size: 1.2rem;
	}
}

/* breakpoint: M */
@media screen and (max-width: 900px) {
	.aboutMaster {
		background-image: url('../../public/images//backgrounds/about-background-mobile.png');

		/* flex */
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}
	.aboutSkillsContainer {
		grid-area: 1 / 1 / 1 / 1;
		gap: 2rem;
	}
	.bioContainer {
		grid-area: 2 / 1 / 2 / 1;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 2rem;
	}
	.aboutSkillImage {
		width: 100px;
		height: 100px;
	}
	.bioImage {
		width: 80%;
		height: auto;
	}
	.bioBody {
		width: 95%;
		font-size: 1.2rem;
	}
}

/* breakpoint: S */
@media screen and (max-width: 600px) {
	.aboutSkillsContainer {
		gap: 2rem;
	}
	.aboutSkills {
		column-gap: 2rem;
	}
	.aboutSkillImage {
		width: 70px;
		height: 70px;
	}
	.bioBody {
		font-size: 1.1rem;
	}
}
