.contactMaster {
	padding: 2rem 0;
	width: calc(100vw - 17px);
	height: fit-content;
	background-color: var(--background-color);
	color: var(--text-color);
	/* flex */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 2rem;
}

.contactHeading {
	font-size: 4rem;
	font-weight: 200;
}
.contactSubheading {
	font-size: 1.4rem;
	/* flex */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}
