.footerMaster {
	/* border-top: 1px solid var(--light-blue); */
	/* background-color: var(--background-color); */
	font-weight: 200;
	width: calc(100vw - 17px);
	color: var(--text-color);
	background-color: var(--footer-background-color);
	padding: 1rem 0;
	/* flex */
	display: flex;
	justify-content: center;
}

.footerContainer {
	width: 60%;
	/* flex */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footerHeading {
	/* flex */
	display: flex;
	align-items: center;
}

.footerTextRight {
	/* flex */
	display: flex;
	align-items: center;
	gap: 1rem;
}

.footerSkillList {
	/* flex */
	display: flex;
	align-items: center;
	gap: 1rem;
}

.footerSkill {
	/* flex */
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

/* breakpoint: XL */
@media screen and (max-width: 1536px) {
	.footerContainer {
		width: 80%;
	}
}

/* breakpoint: L */
@media screen and (max-width: 1200px) {
	.footerContainer {
		width: 90%;
	}
}

/* breakpoint: M */
@media screen and (max-width: 900px) {
	.footerMaster {
		width: 100vw;
	}
	.footerContainer {
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}
}

/* breakpoint: S */
@media screen and (max-width: 600px) {
	.footerTextRight {
		flex-direction: column;
	}
	.footerSkillList {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		row-gap: 0.5rem;
	}
}
