:root {
	--background-color: #020f12;
	--dark-background-color: rgba(18, 18, 18, 1);
	--light-blue: #178fb2;
	--text-color: #eeeeee;
	--dark-text-color: #121212;
	--navbar-transparent: rgba(2, 15, 18, 0);
	--navbar-opaque: rgba(2, 15, 18, 0.9);
	--work-desc-bg: rgba(18, 18, 18, 0.85);
	--bio-body-bg: rgba(18, 18, 18, 0.8);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	/* overflow-x: hidden; */
}
body {
	position: relative;
}

a {
	color: inherit;
	text-decoration: none;
}

/* Container.tsx styles if needed */
.global {
	display: flex;
	flex-direction: column;
	width: calc(100vw - 17px);
	min-height: fit-content;
}
