.homeMaster {
	/* shifts home section up behind navbar */
	/* margin-top: -87px; */
	width: calc(100vw - 17px);
	min-height: 868px;
	height: 868px;
	/* height: 100vh; */
	background-image: url('../../public/images/backgrounds/home-abstract-background.png');
	background-repeat: no-repeat;
}

.homeContainer {
	/* padding: 87px 0; */
	width: 100%;
	height: 100%;
	/* grid */
	display: grid;
	grid-template-columns: 5% 42.5% 5% 42.5% 5%;
	grid-template-rows: 1fr;
	align-items: center;
}

.homeImage {
	justify-self: center;
	grid-area: 1 / 2 / 1 / 2;
	width: 504px;
	height: auto;
}

.homeText {
	height: fit-content;
	color: var(--text-color);
	font-weight: 300;
	/* grid */
	grid-area: 1 / 4 / 1 / 4;
	/* flex */
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 3rem;
}
.homeHeader {
	/* flex */
	display: flex;
	flex-direction: column;
}

.homeName {
	font-size: 4rem;
}
.homeSubtitle {
	font-weight: 600;
	opacity: 90%;
	font-size: 1.5rem;
	margin-left: 0.6rem;
}

.homeSkills {
	width: 70%;
	height: 100%;
	font-size: 1.4rem;
	/* grid */
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 50% 50%;
	grid-auto-flow: row;
	row-gap: 1rem;
}

.homeSkill {
	/* flex */
	display: flex;
	align-items: center;
	gap: 1rem;
}

@media screen and (max-width: 1200px) {
	.homeImage {
		width: 380px;
	}
}
@media screen and (max-width: 900px) {
	.homeMaster {
		width: 100vw;
		min-height: 620px;
		height: fit-content;
	}
	.homeContainer {
		margin-top: 6rem;
		align-items: center;
	}
	.homeImage {
		width: 280px;
	}
	.homeName {
		font-weight: 200;
		font-size: 3rem;
	}
	.homeSubtitle {
		font-size: 1.3rem;
	}
	.homeSkills {
		width: 100%;
		column-gap: 0.5rem;
	}
	.homeSkill {
		font-size: 1.2rem;
		gap: 0.5rem;
	}

	/* if I want to emulate mobile:  */
	/* .homeContainer {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		row-gap: 2rem;
	} */
	/* .homeImage {
		width: 380px;
		grid-area: 1 / 1 / 1 / 1;
	}

	.homeText {
		grid-area: 2 / 1 / 2 / 1;
		gap: 3rem;
	} */
}
@media screen and (max-width: 600px) {
	.homeMaster {
		height: fit-content;
		background-image: url('../../public/images/backgrounds/home-abstract-background-mobile.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
	.homeContainer {
		/* flex */
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		padding-bottom: 6rem;
	}
	.homeImage {
		width: 320px;
		grid-area: 1 / 1 / 1 / 1;
	}
	.homeText {
		width: 95%;
		align-items: center;
		grid-area: 2 / 1 / 2 / 1;
		gap: 2rem;
	}
	.homeName {
		font-weight: 200;
		font-size: 3rem;
	}
	.homeSubtitle {
		font-size: 1.3rem;
	}
	.homeSkills {
		margin-left: 0.5rem;
		width: 90%;
		column-gap: 0.5rem;
	}
	.homeSkill {
		font-size: 1.2rem;
		gap: 0.5rem;
	}
}
