.navbarMain,
.navbarMainScrolled {
	z-index: 5;
	position: fixed;
	top: 0;
	left: 0;
	/* look */
	width: calc(100vw - 17px);
	color: var(--text-color);
	font-weight: 300;
	/* flex */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbarMain {
	padding: 1.5rem 10rem;
	font-size: 1.2rem;
	transition: all ease-out 0.25s;
	background-color: var(--navbar-transparent);
}
.navbarMainScrolled {
	font-size: 1rem;
	padding: 0.8rem 10rem;
	transition: all ease-out 0.4s;
	background-color: var(--navbar-opaque);
}

.navbarLogo {
	color: var(--navbar-transparent);
	font-size: 2rem;
	transition: color ease-out 0.3s;
}
.navbarLogoScrolled {
	font-size: 2rem;
	color: var(--text-color);
}

.navbarLogo:hover,
.navbarLogoScrolled:hover {
	cursor: pointer;
}

.rightLinksDesktop {
	position: relative;
	font-size: 1.2rem;
	font-weight: 200;
	letter-spacing: 2px;
	/* flex */
	display: flex;
	align-items: center;
	gap: 5rem;
}

/* cursor pointer on all desktop links */
.rightLinksDesktop:hover {
	cursor: pointer;
}

.siteLinksDesktop {
	/* flex */
	display: flex;
	gap: 4rem;
}

.desktopLink {
	transition: all ease-out 0.3s;
	/* only needed if color is gradient */
	background-size: 0%;
	background-repeat: no-repeat;
}

.desktopLink:hover,
.mobileMenuLink:hover {
	color: var(--light-blue);
	cursor: pointer;
	/* try linear gradient text color */
	/* background: linear-gradient(#178fb2, #6e38ba); 
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-size: 100%;*/
}

.socialLinks {
	/* flex */
	display: flex;
	gap: 2rem;
	align-items: center;
}
.socialLinks > a {
	display: block;
	height: 36px;
}

/* breakpoint: XL */
@media screen and (max-width: 1536px) {
	.navbarMain {
		padding: 1.5rem 6rem;
	}
	.navbarMainScrolled {
		padding: 0.8rem 6rem;
	}
	.rightLinksDesktop {
		gap: 3rem;
	}
	.siteLinksDesktop {
		gap: 3rem;
	}
}

/* breakpoint: L */
@media screen and (max-width: 1200px) {
	.navbarMain {
		padding: 1.5rem 3rem;
	}
	.navbarMainScrolled {
		padding: 0.8rem 3rem;
	}
	/* .rightLinksDesktop {
		gap: 3rem;
	} */
	.siteLinksDesktop {
		gap: 2rem;
	}
}

/* breakpoint: M */
@media screen and (max-width: 900px) {
	.navbarMain,
	.navbarMainScrolled {
		width: 100vw;
	}
	.mobileMenuIconContainer {
		display: block;
		height: 40px;
	}

	/* Mobile Menu */
	.mobileMenuMaster {
		z-index: 10;
		width: fit-content;
		/* padding: 0 3rem; */
		border-radius: 4px;
		background-color: var(--footer-background-color);
		/* positioning */
		position: fixed;
		top: 78px;
		right: 24px;
		/* flex */
		display: flex;
		flex-direction: column;
		gap: 0;
		align-items: center;
	}
	.mobileMenuLink {
		font-size: 3rem;
		font-weight: 200;
		padding: 2rem 6.5rem;
	}
}

/* breakpoint: S */
@media screen and (max-width: 600px) {
	.navbarMain {
		padding: 1.5rem 1.5rem;
	}
	.navbarMainScrolled {
		padding: 0.8rem 1.5rem;
	}

	/* Mobile Menu */
	.mobileMenuMaster {
		top: 78px;
		left: 0;
		right: 0;
	}
	.mobileMenuLink {
		font-size: 3rem;
		font-weight: 200;
		padding: 2rem 6rem;
	}
}
