.navbarMain,
.navbarMainScrolled {
	position: fixed;
	top: 0;
	left: 0;
	/* look */
	width: calc(100vw - 17px);
	color: var(--text-color);
	font-weight: 300;
	/* flex */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.navbarMain {
	padding: 1.5rem 10rem;
	font-size: 1.2rem;
	transition: all ease-out 0.35s;
	background-color: var(--navbar-transparent);
}
.navbarMainScrolled {
	font-size: 1rem;
	padding: 0.8rem 10rem;
	transition: all ease-out 0.35s;
	background-color: var(--navbar-opaque);
}

.navbarLogo {
	color: var(--navbar-transparent);
	font-size: 2rem;
	transition: color ease-out 0.3s;
}
.navbarLogoScrolled {
	font-size: 2rem;
	color: var(--text-color);
}

.navbarLogo:hover,
.navbarLogoScrolled:hover {
	cursor: pointer;
}

.rightLinksDesktop {
	font-size: 1.2rem;
	font-weight: 200;
	/* flex */
	display: flex;
	align-items: baseline;
	gap: 5rem;
}

/* cursor pointer on all desktop links */
.rightLinksDesktop:hover {
	cursor: pointer;
}

.siteLinksDesktop {
	/* flex */
	display: flex;
	gap: 4rem;
}

.desktopLink {
	transition: all ease-out 0.3s;
	/* only needed if color is gradient */
	background-size: 0%;
	background-repeat: no-repeat;
}

.desktopLink:hover {
	color: var(--light-blue);
	/* try linear gradient text color */
	/* background: linear-gradient(#178fb2, #6e38ba); 
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	background-size: 100%;*/
}
